body{
    font-family: "Roboto",
        sans-serif;
        color: #434455;
        background-color: #FFFFFF;

}
img{
    display: block;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
   
    
    
}
.container{
        max-width: 1158px;
        padding: 0 15px;
            margin: 0 auto;
            display: flex;
            
}
.nav_cont{
    display: flex;
    max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
  
}

.logo_name {
   color: #2e2f42;
   
}

.nav_item {
    display: flex;
    gap: 40px;
   
   
}

.nav_link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    

}

.nav_link:hover{
    color: #404bbf;
}

.nav_link:focus{
    color: #404bbf;
}

address {
    font-style: normal;
}

.address_item {
    display: flex;
    gap: 40px;
    
    
}

.address_link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.address_link:hover{
    color: #404bbf;
}
.address_link:focus{
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    align-content: center;
    padding: 188px 0;
   


}

.hero_name {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    
    
    
}

.hero_button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

    
}

.hero_button:hover{
    background-color: #404BBF;
}

.hero_button:focus{
    background-color: #404BBF;
}

.features{
    padding: 120px 0;
    
}
.visually-hidden{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


.features_item {
    display: flex;
    gap: 24px;
}

.features_link {
    width: calc((100% - 72px) / 4);

}

.features_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.features_description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    width: 264px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    
    
}

.team_logo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.team_item {
    display: flex;
    gap: 24px;
    
    
}

.team_block {background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}
.name_personal{
    padding: 32px 0;
}

.team_photo {
   
}

.team_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.team_descrition {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: center;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio_logo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.portfolio_item {
   display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

      

}
.portfolio_link{
    width: calc((100% - 48px) / 3);
}


.portfolio_photo {}

.portfolio_description{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    

}

.porfolio_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.portfolio_description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo_footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;

}

.logo_sec_name {
    color: #f4f4fd;
    
}

.footer_text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}