body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;

}

a{ 
    text-decoration: none;
    color: #2E2F42;
}

ul{
    list-style: none;
}

.nav {}

.logo {
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        font-style: normal;
        text-transform: uppercase;
        color: #4d5ae5;
        
        
}

.logo_name {

    color: #2e2f42;
}


.nav_item {}

.nav_link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav_link:hover {

    color: #404bbf;
}

.nav_link:focus {

color: #404bbf;
}

.address {
    font-style: normal;
}

.address_item {}

.address_link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.address_link:hover{
    color: #404bbf;
}

.address_link:focus{
    color: #404bbf;
}

.hero {

    background-color: #2E2F42;
    
}

.hero_name {

    font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
}

.hero_button {

    background-color: #4D5AE5;
        color: #ffffff;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

.hero_button:hover{
    background-color: #404BBF;
}

.hero_button:focus{
    background-color: #404BBF;
}

.features {}

.features_item {}

.features_link {}

.features_name {

    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features_description {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}



.team {
    background-color: #F4F4FD;
}

.team_logo {
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team_item {}

.team_block{
    background-color: #FFFFFF;
}

.team_photo {}

.team_name {

    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team_descrition {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio {}

.portfolio_logo {
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}

.portfolio_item {}

.portfolio_photo {}

.porfolio_name {
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio_description {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.footer {
    background-color: #2E2F42;
}


.logo_sec_name{ 
    color: #f4f4fd;
}

.footer_text {
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #F4F4FD;
}